@import "variables";

//Cube Faces ////////////////////////////////////////////////////////////////////

.face {
  opacity: 80%;
  width: $unit;
  height: $unit;

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: $unit1-10;
}

//Cube axis ////////////////////////////////////////////////////////////////////

.axis {
  background: repeating-linear-gradient(
    90deg,
    black 0%,
    black 50%,
    transparent 50%,
    transparent 66%,
    black 66%,
    black 84%,
    transparent 84%,
    transparent 100%
  );
  background-size: $unit1-2;

  width: $unit3;
  height: $unit1-40;
  position: absolute;
}

.axis-x-1 {
  transform: translateX(-$unit * 1.5) rotateX(0deg);
}

.axis-x-2 {
  transform: translateX(-$unit * 1.5) rotateX(90deg);
}

.axis-y-1 {
  transform: translateX(-$unit * 1.5) rotateZ(90deg) rotateX(0deg);
}

.axis-y-2 {
  transform: translateX(-$unit * 1.5) rotateZ(90deg) rotateX(90deg);
}

.axis-z-1 {
  transform: translateX(-$unit * 1.5) rotateY(90deg) rotateX(0deg);
}

.axis-z-2 {
  transform: translateX(-$unit * 1.5) rotateY(90deg) rotateX(90deg);
}

.axis-tag,
.axis-tag-back {
  position: absolute;
  transform: translateY(1rem);
  font-size: 1.6rem;
  top: 0;
  left: 0;
}

.axis-tag-back {
  transform: translateX($unit * 3);
}
