//Colors

.red {
  background-color: red;
}

.white {
  background-color: white;
}

.orange {
  background-color: orange;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.violet {
  background-color: violet;
}

.black {
  background-color: black;
}

.transparent {
  border: 1px solid black;
}

//Border Colors

.border-red {
  border-color: red;
}

.border-white {
  border-color: white;
}

.border-orange {
  border-color: orange;
}

.border-yellow {
  border-color: yellow;
}

.border-green {
  border-color: green;
}

.border-blue {
  border-color: blue;
}

.border-violet {
  border-color: violet;
}

.border-black {
  border-color: black;
}
