//COlors

.red {
  background-color: red;
}

.white {
  background-color: white;
}

.orange {
  background-color: orange;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.violet {
  background-color: violet;
}

.black {
  background-color: black;
}
