@import "variables";

.model-container {
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
}

.model-reference {
  transform-style: preserve-3d;
  position: relative;
}
