@import "variables";

.model-container {
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
}

.model-reference {
  transform-style: preserve-3d;
  position: relative;
}

// transform:
//  translateX(-$half-unit) translateY(-$half-unit) <--- Recenter on cube
//  rotateY(-90deg) translateZ($half-unit); <--- Face offset

.front {
  transform: translateX(-$unit1-2) translateY(-$unit1-2) translateZ($unit1-2);
  position: absolute;
}

.back {
  transform: translateX(-$unit1-2) translateY(-$unit1-2) rotateY(180deg)
    translateZ($unit1-2) rotateZ(180deg);
  position: absolute;
}

.left {
  transform: translateX(-$unit1-2) translateY(-$unit1-2) rotateY(-90deg)
    translateZ($unit1-2);
  position: absolute;
}

.right {
  transform: translateX(-$unit1-2) translateY(-$unit1-2) rotateY(90deg)
    translateZ($unit1-2);
  position: absolute;
}

.top {
  transform: translateX(-$unit1-2) translateY(-$unit1-2) rotateX(90deg)
    translateZ($unit1-2);
  position: absolute;
}

.bottom {
  transform: translateX(-$unit1-2) translateY(-$unit1-2) rotateX(-90deg)
    translateZ($unit1-2);
  position: absolute;
}
