@import "variables";

//Cube Faces ////////////////////////////////////////////////////////////////////

.wrapper {
  width: 0;
  height: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  transform-style: preserve-3d;
}

//Tetrahedron

.triangle-tetra {
  width: 0;
  height: 0;

  border-right: $unit * 1.414213 / 2 solid transparent;
  border-left: $unit * 1.414213 / 2 solid transparent;

  border-bottom-width: $unit * 1.414213 * 0.866025;
  border-bottom-style: solid;

  transform: translateY(-50%);
}

.tetrahedron1 {
  transform: translateY($unit * 0.5) rotateY(135deg) rotateX(-35.264deg);
  // ;
}
.tetrahedron2 {
  transform: translateY($unit * 0.5) rotateY(135deg) rotateX(35.264deg);
}
.tetrahedron3 {
  transform: translateY(-$unit * 0.5) rotateY(45deg) rotateX(144.736deg);
}
.tetrahedron4 {
  transform: translateY(-$unit * 0.5) rotateY(45deg) rotateX(-144.736deg);
}

//Octahedron

.triangle-octa {
  width: 0;
  height: 0;

  border-right: $unit * 1.414213 / 4 solid transparent;
  border-left: $unit * 1.414213 / 4 solid transparent;

  border-bottom-width: $unit * 1.414213 * 0.866025 /2;
  border-bottom-style: solid;

  transform: translateY(-50%) translateX(-50%);
}

.octahedron1 {
  transform: translateX($unit * 0.5) rotateY(45deg) rotateX(35.264deg);
  // ;
}
.octahedron2 {
  transform: rotateY(90deg) translateX($unit * 0.5) rotateY(45deg)
    rotateX(35.264deg);
}
.octahedron3 {
  transform: rotateY(180deg) translateX($unit * 0.5) rotateY(45deg)
    rotateX(35.264deg);
}
.octahedron4 {
  transform: rotateY(270deg) translateX($unit * 0.5) rotateY(45deg)
    rotateX(35.264deg);
}
.octahedron5 {
  transform: rotateX(180deg) translateX($unit * 0.5) rotateY(45deg)
    rotateX(35.264deg);
  // ;
}
.octahedron6 {
  transform: rotateX(180deg) rotateY(90deg) translateX($unit * 0.5)
    rotateY(45deg) rotateX(35.264deg);
}
.octahedron7 {
  transform: rotateX(180deg) rotateY(180deg) translateX($unit * 0.5)
    rotateY(45deg) rotateX(35.264deg);
}
.octahedron8 {
  transform: rotateX(180deg) rotateY(270deg) translateX($unit * 0.5)
    rotateY(45deg) rotateX(35.264deg);
}

//Icosahedron

.triangle-ico {
  width: 0;
  height: 0;

  border-right: $unit * 0.618 / 2 solid transparent;
  border-left: $unit * 0.618 / 2 solid transparent;

  border-bottom-width: $unit * 0.618 * 0.866025;
  border-bottom-style: solid;

  transform: translateY(-50%) translateX(-50%);
}

.icosahedron1 {
  transform: translateX($unit * 0.618 * 0.5) translateZ($unit * 0.5)
    rotateX(20.905deg);
  // ;
}
.icosahedron2 {
  transform: translateX($unit * 0.618 * 0.5) translateZ($unit * 0.5)
    rotateX(159.095deg);
  // ;
}
.icosahedron3 {
  transform: translateX($unit * 0.618 * 0.5) translateZ($unit * -0.5)
    rotateX(-159.095deg);
  // ;
}
.icosahedron4 {
  transform: translateX($unit * 0.618 * 0.5) translateZ($unit * -0.5)
    rotateX(-20.905deg);
  // ;
}
.icosahedron5 {
  transform: rotateY(90deg) rotateZ(90deg) translateX($unit * 0.618 * 0.5)
    translateZ($unit * 0.5) rotateX(20.905deg);
  // ;
}
.icosahedron6 {
  transform: rotateY(90deg) rotateZ(90deg) translateX($unit * 0.618 * 0.5)
    translateZ($unit * 0.5) rotateX(159.095deg);
  // ;
}
.icosahedron7 {
  transform: rotateY(90deg) rotateZ(90deg) translateX($unit * 0.618 * 0.5)
    translateZ($unit * -0.5) rotateX(-159.095deg);
  // ;
}
.icosahedron8 {
  transform: rotateY(90deg) rotateZ(90deg) translateX($unit * 0.618 * 0.5)
    translateZ($unit * -0.5) rotateX(-20.905deg);
  // ;
}
.icosahedron9 {
  transform: rotateX(90deg) rotateZ(90deg) translateX($unit * 0.618 * 0.5)
    translateZ($unit * 0.5) rotateX(20.905deg);
  // ;
}
.icosahedron10 {
  transform: rotateX(90deg) rotateZ(90deg) translateX($unit * 0.618 * 0.5)
    translateZ($unit * 0.5) rotateX(159.095deg);
  // ;
}
.icosahedron11 {
  transform: rotateX(90deg) rotateZ(90deg) translateX($unit * 0.618 * 0.5)
    translateZ(-$unit * 0.5) rotateX(-20.905deg);
  // ;
}
.icosahedron12 {
  transform: rotateX(90deg) rotateZ(90deg) translateX($unit * 0.618 * 0.5)
    translateZ(-$unit * 0.5) rotateX(-159.095deg);
  // ;
}

.icosahedron13 {
  transform: translateX($unit * 0.618 * 0.5) translateZ($unit * 0.5)
    rotateX(20.905deg) rotateZ(60deg) rotateX(41.8deg);
  // ;
}
.icosahedron14 {
  transform: rotateY(180deg) translateX($unit * 0.618 * 0.5)
    translateZ($unit * 0.5) rotateX(20.905deg) rotateZ(60deg) rotateX(41.8deg);
  // ;
}
.icosahedron15 {
  transform: rotateZ(180deg) translateX($unit * 0.618 * 0.5)
    translateZ($unit * 0.5) rotateX(20.905deg) rotateZ(60deg) rotateX(41.8deg);
  // ;
}
.icosahedron16 {
  transform: rotateZ(180deg) rotateY(180deg) translateX($unit * 0.618 * 0.5)
    translateZ($unit * 0.5) rotateX(20.905deg) rotateZ(60deg) rotateX(41.8deg);
  // ;
}
.icosahedron17 {
  transform: translateX($unit * 0.618 * -0.5) translateZ($unit * 0.5)
    rotateY(180deg) rotateX(-20.905deg) rotateZ(60deg) rotateX(-41.8deg);
}
.icosahedron18 {
  transform: rotateY(180deg) translateX($unit * 0.618 * -0.5)
    translateZ($unit * 0.5) rotateY(180deg) rotateX(-20.905deg) rotateZ(60deg)
    rotateX(-41.8deg);
}
.icosahedron19 {
  transform: rotateZ(180deg) translateX($unit * 0.618 * -0.5)
    translateZ($unit * 0.5) rotateY(180deg) rotateX(-20.905deg) rotateZ(60deg)
    rotateX(-41.8deg);
}
.icosahedron20 {
  transform: rotateZ(180deg) rotateY(180deg) translateX($unit * 0.618 * -0.5)
    translateZ($unit * 0.5) rotateY(180deg) rotateX(-20.905deg) rotateZ(60deg)
    rotateX(-41.8deg);
}
