@import "variables";

.rubik-face {
  // opacity: 80%;
  width: $unit;
  height: $unit;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);

  transform-style: preserve-3d;
}

@keyframes rotateX {
  from {
    transform: rotateX(90deg);
  }
  to {
    transform: rotateX(0deg);
  }
}

.rotateX {
  animation-name: rotateX;
  animation-duration: 1s;
}
