@import "variables";

.rotate-animation {
  transform-style: preserve-3d;
  animation-duration: 0.8s;
}

@keyframes rotateXNeg {
  from {
    transform: rotateX(-90deg);
  }
  to {
    transform: rotateX(0deg);
  }
}

@keyframes rotateX {
  from {
    transform: rotateX(90deg);
  }
  to {
    transform: rotateX(0deg);
  }
}

@keyframes rotateYNeg {
  from {
    transform: rotateY(90deg);
  }
  to {
    transform: rotateY(0deg);
  }
}

@keyframes rotateY {
  from {
    transform: rotateY(-90deg);
  }
  to {
    transform: rotateY(0deg);
  }
}

@keyframes rotateZNeg {
  from {
    transform: rotateZ(-90deg);
  }
  to {
    transform: rotateZ(0deg);
  }
}

@keyframes rotateZ {
  from {
    transform: rotateZ(90deg);
  }
  to {
    transform: rotateZ(0deg);
  }
}

.rotateX {
  animation-name: rotateX;
}

.rotateXNeg {
  animation-name: rotateXNeg;
}

.rotateY {
  animation-name: rotateY;
}

.rotateYNeg {
  animation-name: rotateYNeg;
}

.rotateZ {
  animation-name: rotateZ;
}

.rotateZNeg {
  animation-name: rotateZNeg;
}
