.rubik-cube-2d {
  display: grid;
  grid-template-columns: repeat(9, 1fr);

  margin: 50px;

  position: absolute;
  top: 0;
  right: 0;
}

.square {
  height: 2rem;
  width: 2rem;
  border: 1px solid black;
}

.red {
  background-color: red;
}

.white {
  background-color: white;
}

.orange {
  background-color: orange;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}
