@import "variables";

//Cube Faces ////////////////////////////////////////////////////////////////////

.triangle {
  width: 0;
  height: 0;

  border-right: $unit * 1.414213 / 2 solid transparent;
  border-left: $unit * 1.414213 / 2 solid transparent;

  border-bottom-width: $unit * 1.414213 * 0.866025;
  border-bottom-style: solid;

  position: absolute;
}

.tetrahedron1 {
  transform: translateX(-50%) translateY(-50%);
}
.tetrahedron2 {
}
.tetrahedron3 {
}
.tetrahedron4 {
}
